aspy.yaml==1.1.1
cached-property==1.4.2
cfgv==1.0.0
identify==1.0.16
more-itertools==4.1.0
nodeenv==1.3.0
pluggy==0.6.0
pre-commit==1.8.2
py==1.5.3
pytest==3.5.1
PyYAML==3.12
requirements-tools==1.1.2
virtualenv==16.0.0
