asn1crypto==0.24.0
attrs==18.1.0
Automat==0.7.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.3
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
pycparser==2.18
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
requests==2.20.0
setuptools==40.0.0
six==1.11.0
slackclient==1.2.1
Twisted==18.7.0
urllib3==1.24.2
websocket-client==0.48.0
zope.interface==4.5.0
