cryptography<41.0.1 # Due to Rust requirements (ok to remove once rustc is puppeted or we just install Rust in the container)
emoji
ocflib
pyOpenSSL
slackclient<2
Twisted<=20.3.0 # Newer Twisted has incomplete type stubs, so we hold it back for now
